.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buy {
  text-align: center;

}

.part_desc dt, .part_desc dd {
  align-items: flex-start;
  display: inline-block;


}
.part_desc dt {
  position: absolute;

  


}
.part_desc dd {
  padding-left: 200px;
  max-width: 500px;
  margin-left: 10px;

}
.part_desc dl {
  max-width: 600px;

}

.image-gallery {
  
  max-width: 700px;
  
}

.image-gallery-image {
  height: 500px;
}

.gallery-image .fullscreen .image-gallery-image{
  height: 75vh;
}

.gallery-image {
  flex: auto;


}

@media only screen and (max-width: 500px) {
  .image-gallery {
    max-width: 400px;
  }

  .part-table img {
    max-width: 400px;
  }

  .part-table {
    display: grid;
    text-align: center;
  }

  .cart-table tr{
    display: grid;
    text-align: center;
    border-color: white;
  }

  .cart-table th{
    display: none;
  }
  

}

